body {
    font-family: sans-serif;
    font-size: 13px;
}

button:focus {
    outline: none;
}

/**
 * Page Layout
 * Source: chrome://extensions + custom code
 */
#navigation {
    height: 100%;

    position: fixed;
    left: 0;
    width: 180px;
}

#options-container {
    min-width: 540px;
    max-width: 720px;

    position: absolute;
    left: 180px;
    right: 20px;
    top: 50px;
    bottom: 0;
}

#days-list > li, #settings-list > li {
    margin-bottom: 30px;
}

/**
 * Navigation
 * Source: chrome://uber-frame + custom code
 */
#navigation h1 {
    -webkit-margin-after: 1em;
    /* This value must match the top padding of the uber page header. */
    -webkit-margin-before: 21px;
    -webkit-margin-start: 23px;
    color: rgb(92, 97, 102);
}

#navigation ul {
  list-style-type: none;
  padding: 0;
}

#navigation li {
    -webkit-border-start: 6px solid transparent;
    -webkit-padding-start: 18px;
    -webkit-user-select: none;
    cursor: pointer;
}

#navigation li:hover {
    color: #777;
}

#navigation li.selected {
    -webkit-border-start-color: rgb(78, 87, 100);
    cursor: default;
    pointer-events: none;
}

#navigation button {
    background-color: white;
    border: 0;
    color: #999;
    cursor: pointer;
    font: inherit;
    line-height: 1.5em;
    padding: 6px 0;

    width: 100%;
    text-align: left;
}

#navigation .selected > button {
    color: rgb(70, 78, 90);
}


/**
 * Options Sections
 * Source: chrome://extensions-frame + custom code
 */

.options-section {
    display: none;
    margin-top: 20px;
}

.options-section header {
    min-width: 540px;
    max-width: 720px;

    position: fixed;
    top: 0;
    right: 20px;
    left: 180px;

    background-image: -webkit-linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
    border-bottom: 1px solid #eee;

    z-index: 2;
}

.options-section header h2 {
    margin: 0;
    padding: 21px 0px 13px;
    float: left;
}

.options-section header button {
    float: right;
    margin: 13px 0px 13px 5px !important;
}

.no-tabs {
    color: #999;
}

/**
 * snoozed-tabs list
 */

#days-list-container ol {
    list-style: none;
    -webkit-padding-start: 0;
}

.entry {
    font-size: 13px;
    padding: 10px;
}

.entry:nth-child(odd) {
    background-color: #F5F5F5;
}

.entry-time {
    color: rgb(151, 156, 160);
    margin-right: 30px;
}

.entry-favicon {
    background: url("/assets/icons/default-favicon.png") no-repeat center center;
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    display: inline-block;
    vertical-align: text-top;
}

.entry-title {
    color: rgb(48, 57, 66);
    text-decoration: none;
    cursor: pointer;
    margin: 0px 4px;
}

.entry-title:hover {
    text-decoration: underline;
}

.entry-domain {
    color: rgb(151, 156, 160);
}

.entry-title, .entry-domain {
    max-width: 300px;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
}

.entry-clear {
    background: url("/assets/icons/close.png") no-repeat center center;
    border: 0;
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    z-index: 1;

    float: right;
}

.entry-clear:hover {
    background-image: url("/assets/icons/close-hover.png");
}

.entry-clear:active {
    background-image: url("/assets/icons/close-pressed.png");
}

/*
 * Settings
 */

#settings ul {
    list-style: none;
    -webkit-padding-start: 0;
}

.settings-group li {
    font-size: 13px;
    padding: 6px;
    line-height: 26px;
    clear: both;
    overflow: auto;
}

.settings-group li:nth-child(odd) {
    background-color: #F5F5F5;
}

.settings-group li .control {
    float: right;
    height: 26px;
    min-width: 130px;
    text-align: right;
}

.bootstrap-timepicker {
    display: inline;
    float: right;
}

.bootstrap-timepicker input {
    height: 13px;
    width: 130px;
}

#badge-control input[type='radio'] {
    margin: 0 4px 0 10px;
}

/* 
 * About 
 */

.product-description {
    margin-top: 30px;
}

.links {
    margin-top: 10px;
}

.links a {
    color: #666;
    margin-right: 3px;
}

.links a:hover {
    text-decoration: underline;
}

 .version {
    color: #999;
    margin-top: 50px;
 }

 .feedback {
    margin-top: 10px;
 }