body {
    font-family: sans-serif;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

#snoozeButtons {
    width: 15em;
    height: 15em;
    border-collapse: collapse;
}

#snoozeButtons td {
    width: 5em;
    height: 5em;
    border: 1px solid #E2E6E6;
    vertical-align: middle;
}

#snoozeButtons tr:first-child td {
    border-top: 0;
}

#snoozeButtons tr:last-child {
    border-bottom: 0;
}

#snoozeButtons tr td:first-child {
    border-left: 0;
}

#snoozeButtons tr td:last-child {
    border-right: 0;
}

#snoozeButtons button {
    width: 100%;
    height: 100%;

    background-color: white;
    color: #9FA6A8;

    border: none;
    padding: 0 0.2em;
}

#snoozeButtons button:hover {
    background-color: #F6F8F8;
}

#snoozeButtons button:active {
    background-color: #FED23B;
    color: white;
}

#snoozeButtons button img {
    height: 50%;
    width: 50%;

    display: block;
    margin: 10% auto;
}

#statusBar {
    overflow: auto;
    padding: 0.8em 0.6em;

    font-size: 0.7em;
    line-height: 1.5em;
}

#defaultStatus {
    float: left;
}

#snoozedStatus {
    display: none;
}

#options {
    background: url("../icons/options.svg") no-repeat scroll 0 0 transparent;
    background-size: 1.4em 1.4em;

    width: 1.5em;
    height: 1.5em;
    border: none;

    float: right;
    padding: 0px;
}