body {
    font-family: sans-serif;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

/**
 * Snooze Buttons Layout
 */

#snooze-buttons {
    width: 270px;
    height: 270px;
    border-collapse: collapse;
}

#snooze-buttons td {
    width: 90px;
    height: 90px;
    border: 1px solid #E2E6E6;
    vertical-align: middle;
}

#snooze-buttons tr:first-child td {
    border-top: 0;
}

#snooze-buttons tr:last-child {
    border-bottom: 0;
}

#snooze-buttons tr td:first-child {
    border-left: 0;
}

#snooze-buttons tr td:last-child {
    border-right: 0;
}

#snooze-buttons button {
    width: 100%;
    height: 100%;

    background-color: white;
    color: #9FA6A8;

    border: none;
    padding: 0 0.2em;
}

#snooze-buttons button:hover, #pick-date:active {
    background-color: #F6F8F8;
}

#snooze-buttons button:active:not(#pick-date) {
    background-color: #FED23B;
    color: white;
}

#snooze-buttons button .button-image {
    height: 40px;
    width: 40px;

    display: block;
    margin: 6px auto;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

/**
 * Snooze Buttons Custom
 */

#ten-seconds .button-image {
    background-image: url("/assets/icons/grey/ten-seconds.png");
}

#ten-seconds:active .button-image {
    background-image: url("/assets/icons/white/ten-seconds.png");
}

#later-today .button-image {
    background-image: url("/assets/icons/grey/later-today.png");
    background-size: 75% !important;
}

#later-today:active .button-image {
    background-image: url("/assets/icons/white/later-today.png");
}

#this-evening .button-image, #tomorrow-evening .button-image {
    background-image: url("/assets/icons/grey/this-evening.png");
}

#this-evening:active .button-image, #tomorrow-evening:active .button-image {
    background-image: url("/assets/icons/white/this-evening.png");
}

#tomorrow .button-image {
    background-image: url("/assets/icons/grey/tomorrow.png");
}

#tomorrow:active .button-image {
    background-image: url("/assets/icons/white/tomorrow.png");
}

#this-weekend .button-image {
    background-image: url("/assets/icons/grey/this-weekend.png");
}

#this-weekend:active .button-image {
    background-image: url("/assets/icons/white/this-weekend.png");
}

#next-week .button-image {
    background-image: url("/assets/icons/grey/next-week.png");
}

#next-week:active .button-image {
    background-image: url("/assets/icons/white/next-week.png");
}

#in-a-month .button-image {
    background-image: url("/assets/icons/grey/in-a-month.png");
    background-size: 80% !important;
}

#in-a-month:active .button-image {
    background-image: url("/assets/icons/white/in-a-month.png");
}

#someday .button-image {
    background-image: url("/assets/icons/grey/someday.png");
}

#someday:active .button-image {
    background-image: url("/assets/icons/white/someday.png");
}

#pick-date .button-image {
    background-image: url("/assets/icons/grey/pick-date.png");
}

/*#pick-date:active .button-image {
    background-image: url("/assets/icons/white/pick-date.png");
}*/

/**
 * Calendar
 */

#datepicker {
    display: none;
    padding: 5px;

    box-shadow: inset  0  8px 8px -11px #696868, 
                inset  0 -8px 8px -11px #696868;
}

.ui-datepicker {
    font-size: 0.8em;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;

    border: 0;
    border-radius: 0 !important;
}

.ui-datepicker table {
    margin: 0;
}

.ui-datepicker-header {
    background-color: transparent;
    padding: 0;
    border: 0;
}

.ui-datepicker th {
    color: #9FA6A8;
}

.ui-datepicker td {
    height: 37px;
    width: 37px;

    display: table-cell;
    vertical-align: middle;

    padding: 0;
    border: 1px solid #E2E6E6;
}

.ui-datepicker td a.ui-state-default {
    padding: 0;
    border: 0 !important;
    background-color: transparent;

    color: #9FA6A8;

    text-align: center;
    line-height: 37px;
}

.ui-datepicker td a.ui-state-default:hover:not(.ui-state-highlight):not(.ui-state-active) {
    background-color: #F6F8F8;
}

.ui-datepicker td a.ui-priority-secondary {
    background-color: #F5F5F5;  
}

.ui-datepicker td a.ui-state-active {
    background-color: #FED23B;
    color: white;
}

.ui-datepicker-buttonpane {
    margin: 0 !important;
    border: 0;
}

/**
 * Status Bar
 */

#status-bar {
    overflow: auto;
    padding: 0.8em 0.6em;

    font-size: 0.7em;
    line-height: 1.5em;
}

#default-status {
    float: left;
}

#default-status button {
    border: 0;
    background: none;
    outline: 0;
}

#default-status button:hover {
    text-decoration: underline;
}

#snoozed-status {
    display: none;
}

#settings {
    background: url("/assets/icons/options.svg") no-repeat scroll 0 0 transparent;
    background-size: 1.4em 1.4em;

    width: 1.5em;
    height: 1.5em;
    border: none;

    float: right;
    padding: 0px;

    opacity: 0.7;
    transition: opacity 0.2s ease-out;
}

#settings:hover {
    opacity: 1.0;
}